.typing-indicator {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  word-wrap: normal;
  width: auto;
  color: var(--text-muted);
}

.typing-indicator:hover {
  cursor: pointer;
  color: var(--interactive-hover);
}